<div *ngIf="products" class="min-h-screen bg-gray-100 p-6">
  <h1 class="text-3xl font-bold text-center text-emerald-600 mb-8">Nkart Products</h1>

  <div class="grid grid-cols-2 md:grid-cols-3 gap-6">
    <div [routerLink]="['/product',product.id]" *ngFor="let product of products" class="bg-white p-4 rounded-xl shadow-md">
      <img [src]="product.imgUrl" class="h-40 w-full object-cover rounded-lg mb-3 cursor-pointer" />

      <h2 class="text-xl font-semibold">{{ product.name }}</h2>

      <p class="text-gray-600">{{ product.description }}</p>

      <p class="text-emerald-600 font-bold mt-2">$ {{ product.price }}</p>
    </div>
  </div>
</div>